body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}

header {
  background: #b29a00;
  color: #fff;
  text-align: center;
  padding-top: 64px;
}

header h1,
header p {
  margin: 0;
}

header img {
  width: 280px;
  vertical-align: bottom;
}

.frame img {
  width: 100%;
}

.frame > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.frame .container {
  margin: 0 32px;
}

.frame p {
  line-height: 1.8;
}

.frame section {
  padding-bottom: 64px;
}

.pictures {
  background: #f2f2f3;
}

.pictures > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.pictures ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pictures img {
  width: 160px;
  border-radius: 20%;
}

.pictures h2 {
  font-size: 20px;
}

.pictures li {
  padding-bottom: 64px;
}

.remenber-riku {
  background: #f59a00;
  color: #fff;
  text-align: center;
  padding: 64px 0;
}

footer {
  padding: 64px 0;
  background: #323135;
  color: #98969c;
  text-align: center;
}

@media (min-width: 900px) {
  header .container {
    display: flex;
    width: 800px;
    margin: 0 auto;
  }

  header .info {
    width: 60%;
    align-self: center;
  }

  header .pic {
    width: 40%;
  }

  .frame .container {
    width: 800px;
    margin: 0 auto;
  }

  .frame section {
    display: flex;
    justify-content: space-between;
  }

  .frame section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .frame .pic {
    width: 50%;
  }

  .frame .info {
    width: calc(50% - 32px);
  }

  .pictures ul {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .pictures li {
    width: 250px;
  }
}